* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

body {
  background-color: #dfd4d4;
}

/* Navbar */
.navbar {
  /* display: none; */
  position: sticky;
  top: 0;
  background-color: #003874;
  width: 100%;
  height: 5em;
  padding: 1em 2em;
  z-index: 999;
}

.title {
  display: inline-block;
  margin-top: 0.375em;
  font-size: 1.35em;
  color: white;
  font-weight: 700;
  width: 265px;
}

.mobile-config {
  /* display: none; */
  float: right;
  color: rgb(179, 179, 179);
  border: solid #696969 2px;
  border-radius: 3px;
  /* width: 45px; */
  padding: 0.35em;

  font-size: 1.35em;
}

.mobile-config:hover {
  color: white;
  cursor: pointer;
}

.mobile-config.active {
  color: #ffffff;
  /* text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menu {
  margin-left: 0.5em;
  display: inline-block;
  color: white;
  font-weight: 600;
}

.menu .link {
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-size: 1.15em;
}

.menu .link:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.menu .link.active {
  color: #ffffff;
  /* text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.toggle-sidebar-button {
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

.toggle-sidebar-button.active {
  color: #02bddf;
}

.view-button {
  color: rgb(179, 179, 179);
}

.view-button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* #sidebar {
  top: 4em;
  position: sticky;

  min-width: 300px;
  height: calc(100vh - 4em);
  overflow-y: auto;

  background-color: #004c9c;
  color: white;
  border-color: black;
  transition: all 0.65s;

  font-weight: 500;
} */

#home {
  min-width: 100%;
  height: calc(100vh - 5em);
  background-color: #004c9c;
  color: white;
}

#about {
  min-width: 100%;
  height: calc(100vh - 5em);
  background-color: #129c00;
  color: white;
}

#projects {
  min-width: 100%;
  height: calc(100vh - 5em);
  background-color: #9c1700;
  color: white;
}

@media (max-width: 550px) {
  .menu {
    position: fixed;
    /* top: 5em; */
    left: -0.5em;
    background-color: #000000;
    z-index: 998;
    width: 100%;
    height: calc(100vh - 5em);
    margin-top: -100%;
    text-align: center;
  }

  .menu.active {
    margin-top: 4em;
    width: 100%;
  }

  .menu .link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
  }
}

@media (min-width: 550px) {
  .mobile-config {
    display: none;
    border: none;
  }
}
