* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

body {
  background-color: #dfd4d4;
  min-width: 100%;
  overflow: hidden;
}

/* Navbar */
.navbar {
  /* display: none; */
  position: sticky;
  top: 0;
  background-color: #003874;
  width: 100%;
  height: 5em;
  padding: 1em 2em;
  z-index: 999;
}

.title {
  display: inline-block;
  margin-top: 0.375em;
  /* font-size: 1.35em; */
  font-size: 1.35em;
  color: white;
  font-weight: 700;
  width: 265px;
}

.mobile-config {
  float: right;
  color: rgb(179, 179, 179);
  border: solid #696969 2px;
  border-radius: 3px;
  padding: 0.35em;

  font-size: 1.35em;
}

.mobile-config:hover {
  color: white;
  cursor: pointer;
}

.mobile-config.active {
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menu {
  margin-left: 0.5em;
  display: inline-block;
  color: white;
  font-weight: 600;
}

.menu .link {
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-size: 1.15em;
}

.menu .link:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.menu .link.active {
  color: #ffffff;
  /* text-shadow -0.75px 0 black,0 0.75px blac, 0.75px 0 black,  -0.75px black; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.toggle-sidebar-button {
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

.toggle-sidebar-button.active {
  color: #02bddf;
}

.view-button {
  color: rgb(179, 179, 179);
}

.view-button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#home {
  min-width: 100%;
  height: calc(100vh - 5em);
  color: white;
  text-shadow: -0.65px 0 black, 0 0.65px black, 0.65px 0 black, 0 -0.65px black;

  background: rgb(58, 180, 179);
  background: -moz-linear-gradient(
    90deg,
    rgba(58, 180, 179, 1) 0%,
    rgba(0, 6, 164, 1) 15%,
    rgba(0, 6, 164, 1) 85%,
    rgba(58, 180, 179, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(58, 180, 179, 1) 0%,
    rgba(0, 6, 164, 1) 15%,
    rgba(0, 6, 164, 1) 85%,
    rgba(58, 180, 179, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(58, 180, 179, 1) 0%,
    rgba(0, 6, 164, 1) 15%,
    rgba(0, 6, 164, 1) 85%,
    rgba(58, 180, 179, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ab4b3",endColorstr="#3ab4b3",GradientType=1);
}

#home .img {
  position: absolute;
  top: calc(50% - 97px);
  left: 10%;
  width: calc(195px + 1.35vw);
  height: calc(195px + 1.35vw);
  border-radius: 50%;
}

#home #introduction {
  font-size: 40px;
  position: absolute;
  left: calc(13.5% + 195px);
  top: calc(50% - (60px + 0.15vw));
}

#home #introduction .details {
  display: block;
  font-size: 19px;
}

#home #introduction .contacts i {
  font-size: 45px;
  margin-top: 20px;
  margin-right: 25px;
}

#home #introduction .contacts a:link {
  color: white;
  text-decoration: none;
}

#home #introduction .contacts a:visited {
  color: white;
  text-decoration: none;
}

#home #introduction .contacts a:hover {
  color: white;
  text-decoration: none;
}

#home #introduction .contacts a:active {
  color: white;
  text-decoration: none;
}

/* #home #toggle-down {
  position: absolute;
  bottom: 15px;
  right: calc(50% - 25px);
}

#home #toggle-down i {
  font-size: 50px;
  cursor: pointer;
}

#home #toggle-down i:hover {
} */

#about {
  min-width: 100%;
  color: white;
  text-shadow: -0.65px 0 black, 0 0.65px black, 0.65px 0 black, 0 -0.65px black;
}

#about #about-me {
  padding: 1.75em 0 0.75em 0;
  font-size: 42px;
  text-align: center;
  height: calc(100vh - 80px);
  border: 1px solid red;

  background: rgba(255, 145, 0, 1);
}

#about #education {
  padding: 0.5em 0 0 0;
  font-size: 42px;
  text-align: center;
  height: calc(100vh - 80px);
  border: 1px solid red;

  background: rgba(0, 121, 255, 100);
}

#about #work {
  padding: 2.15em 0 0.75em 0;
  font-size: 42px;
  text-align: center;
  height: calc(100vh - 80px);
  border: 1px solid red;

  background: rgb(255, 0, 43);
}

#about #about-me .about,
#about #education .institute,
#about #work .job {
  font-size: 28px;
  text-align: left;
  padding: 0.75em 2em 0 2em;
  line-height: 1.5;
}

#about #education .institute .left {
  font-size: 25px;
  display: flex;
}

#about #education .institute .right {
  font-size: 25px;
  margin-left: auto;
}

#about #education .details {
  margin: 0.5em 0;
  font-size: 19px;
}

#about #work .cv-n-resume {
  text-align: left;
  padding: 0.75em 2em 0 2em;
  margin-top: 1em;
}

#about #work .cv-n-resume .resume,
#about #work .cv-n-resume .cv {
  display: block;

  padding: 0.15em 0.9em;
  /* padding: 0.75em 2em 0 2em; */
  font-size: 28px;
  cursor: pointer;
}

#projects {
  min-width: 100%;
  height: calc(100vh - 5em);
  background-color: #9c1700;
  color: white;
}

#projects #introduction {
  padding-top: 1.25em;
  font-size: 26px;
  text-align: center;
}

#projects .card-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #5b5d5c;
  border-radius: 5px;
  margin-top: 1em;
  padding: 2em;
}

#projects .card-contents .card {
  border: 2px solid #5b5d5c;
  border-radius: 5px;
  margin-bottom: 2em;
  flex: 0 1 calc(50% - 1em);
}

#projects .card-contents .card .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  padding: 0.7em 0;
  text-align: center;
  font-size: 1.42em;
  border: 2px solid #5b5d5c;
  border-top: none;
  border-right: none;
  border-left: none;
  /* background-color: #3dbd57; */
  background-color: #0cbb0c;
  text-shadow: -0.65px 0 black, 0 0.65px black, 0.65px 0 black, 0 -0.65px black;
  color: #ffffff;
  z-index: 2;
  cursor: pointer;
}

#projects .card-contents .card .header.dropped {
  background-color: #e70e0e;
}

#projects .card-contents .card .header.ongoing {
  background-color: #ffd900;
}

#projects .card-contents .card .header.finished {
  background-color: #0fa30f;
}

#projects .card-contents .card .header .title {
  font-size: 18px;
  text-align: left;
  padding: 0 1em;
  color: #ffffff;
}

#projects .card-contents .card .header .name {
  font-size: 21px;
  padding: 0 0.5em;
  color: #ffffff;
}

#projects .card-contents .card .header .status {
  font-size: 18px;
  color: #ffffff;
  bottom: 0;
}

#projects .card-contents .card .header.head {
  display: block;
  padding: 0.1em 0;
  text-align: center;
  font-size: 4em;
}

#projects .card-contents .card .description {
  padding: 0 0.5em;
  max-height: 0;
  overflow: hidden;
  /* Set our transitions up. */
  -webkit-transition: max-height 1.15s;
  -moz-transition: max-height 1.15s;
  transition: max-height 1.15s;
  font-size: 1em;
}

#projects .card-contents .card .description.active {
  max-height: 500px;
  padding: 0 0.5em;
}
